/* flex */

.flex{
    display: flex;
}

.space-between{
justify-content: space-between;
}

.clear-list {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
}

a{
    text-decoration: none;
    color: inherit;
}

.grid{
    display: grid;
}

.hidden {
    display: none;
}

.justify-center{
    justify-content: center;
}

.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}

body.rtl {
    direction: rtl;
}

body{
    margin: 0;
    font-family: lato;
}


.flex.align-center {
    align-items: center;
}

.background-black{
    background-color: rgb(12, 7, 2);
}

.btn:hover{
cursor: pointer;
}